@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Tisa Sans Pro Regular.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Tisa Sans Pro Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Tisa Sans Pro ExtraLight.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/Tisa Sans Pro ExtraLight Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Tisa Sans Pro Light.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Tisa Sans Pro Light Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Tisa Sans Pro Medium.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Tisa Sans Pro Medium Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Tisa Sans Pro Bold.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Tisa Sans Pro Bold Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Tisa Sans Pro ExtraBold.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/Tisa Sans Pro ExtraBold Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Tisa Sans Pro Black Italic.woff') format('woff')
}

@font-face {
    font-family: 'Tisa Sans Pro';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Tisa Sans Pro Black.woff') format('woff')
}